## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
 variable = 2
 print (variable)

2

2) Imprimir el tipo de dato de la constante 8.5

In [4]:
tipo_variable = type(8.5)
print ( tipo_variable )

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [6]:
print (type (variable))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [7]:
mi_nombre = 'Hernán'

5) Crear una variable que contenga un número complejo

In [10]:
numero_complejo = 9+3j

<class 'complex'>

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [11]:
print(type(numero_complejo))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [18]:
import math
numero_pi = round(math.pi,4)
print(numero_pi)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [31]:
variable_1 = 'True'
variable_2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [34]:
print ('variable_1 es del tipo: ', type(variable_1) ,  ' variable_2 es del tipo: ', type (variable_2))

variable_1 es del tipo:  <class 'str'>  variable_2 es del tipo:  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [35]:
variable = 3 + 3.5

11) Realizar una operación de suma de números complejos

In [36]:
numero_complejo_1 = 2 + 2j
numero_complejo_2 = 3 + 2.2j

numero_complejo_1 * numero_complejo_2

(1.5999999999999996+10.4j)

12) Realizar una operación de suma de un número real y otro complejo

In [38]:
numero = 5.5
numero + numero_complejo_2

(8.5+2.2j)

13) Realizar una operación de multiplicación

In [39]:
numero * numero_complejo_1

(11+11j)

14) Mostrar el resultado de elevar 2 a la octava potencia

In [40]:
print (2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [42]:
cociente = 27/4
print (cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [45]:
cociente_entero = 27//4
print (cociente_entero)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [46]:
cociente_resto = 27%4
print (cociente_resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [48]:
print (4*cociente_entero+cociente_resto)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [51]:
variable_1 = 'Mi edad es: '
variable_2 = '36'
print(variable_1 + variable_2)

Mi edad es: 36

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [53]:
print ("2" == 2)
#Esto ocurre porque son dos tipos de variables distintas, un int y un str
print (type("2"))
print (type(2))

False
<class 'str'>
<class 'int'>

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [56]:
print (int("2") == 2)
print (type(int("2")))
print (type(2))

print ("2" == str(2))
print (type("2"))
print (type(str(2)))

True
<class 'int'>
<class 'int'>
True
<class 'str'>
<class 'str'>

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [66]:
a = float ('3,8') 
#El error es porque el separador decimal es el punto ".", no la coma ","

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [67]:
variable = 3
variable -=1
print (variable)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [77]:
variable = 1 << 2
print (variable)
print(bin(1))
print(bin(variable))
#La operación << 2 está moviendo 2 veces el 1 hacia la izquierda en la representación binaria del número 1 que es 0001. Por lo que el resultado es 0100,.
#0100 es equivalente a 4 en numéros enteros
print (1 * 2**2 + 0* 2**1 + 0 *2 ** 0)

4
0b1
0b100
4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [80]:
#2 + '2'
#No está permitido porque son de diferente tipo
#Si ambos son enteros, el resultado es la suma:
2 + 2
#Si ambos son string, el resultado es la concatenación, es decir, 22:
'2' + '2'

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [83]:
variable_1 = 2
variable_2 = 'veces'

print(variable_1 * variable_2, 'es: ', str(variable_1) + variable_2, 'la palaba', variable_2)

vecesveces es:  2veces la palaba veces